{% extends "layout.html" %}
{% block body %}
  {{ preview_html|safe }}
  <hr>
  <h2>Preview</h2>
  <form method="post" action="{{ url_for('save') }}" id="contentForm">
    <input type="hidden" name="filename" value="{{ filename }}">
    <p><textarea name="text" rows="30" cols="80" tabindex="1">{{ rawText }}</textarea></p>

    <p>
      <input type="hidden" name="wasDraft" value="no">
      <input name="save" type="submit" tabindex="5" value="Save"> <input name="preview" type="submit" tabindex="3" value="Preview">
      <input name="draft" id="draft" type="checkbox" tabindex="4"> <label for="draft">Save as draft</label>
    </p>
  </form>
{% endblock %}